# Путь к API на клиенте
NEXT_PUBLIC_API_PREFIX='/api'

# URL сайта
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Ориджин сервера
SERVER_ORIGIN=https://test.etonee123x.dev # Тест
# SERVER_ORIGIN=http://localhost:4000 # Локалхост

# Режим работы приложения
APP_MODE=development

# Пользователь для базовой аутентификации тест
BASIC_USER=basic_user

# Пароль для базовой аутентификации тест
BASIC_PASSWORD=basic_password