# Порт на котором будет крутиться приложение, используется чтобы развести test- и prod-приложения
PORT=5173

# Путь к API на клиенте
VITE_API_PREFIX='/api'

# Ориджин сервера
SERVER_ORIGIN=https://test.eto-ne-e123x.dev # Тест
# SERVER_ORIGIN=http://localhost:4000 # Локалхост

# Режим работы приложения
APP_MODE=development

# Пользователь для базовой аутентификации тест
BASIC_USER=basic_user

# Пароль для базовой аутентификации тест
BASIC_PASSWORD=basic_password