NODE_ENV=development
PORT=4000
SECRET_KEY='a-string-secret-at-least-256-bits-long'
AUTH_TOKEN_MAX_LIFETIME_MINUTES=10
DATABASE_PATH='../../infra/database'
CONTENT_PATH='../../infra/content'
UPLOADS_PATH='../../infra/uploads'
JSON_BODY_LIMIT='1mb'
CORS_ORIGIN='http://localhost:3000'