@import 'tailwindcss';

@theme {
  --color-success: #00ff00;
  --color-error: #ff0000;
  --color-text-black: #111111;

  --z-player: 1000;
  --z-index-modal: 10000;
  --z-index-explorer-navbar: 10;

  --animate-runner: runner 1s linear infinite;

  @keyframes runner {
    0% {
      left: calc(-1 * (1/6) * 100%);
    }

    100% {
      left: 100%;
    }
  }

  --animate-loading: loading 2s linear infinite;

  @keyframes loading {
    0% {
      content: '.';
    }

    33% {
      content: '..';
    }

    67% {
      content: '...';
    }
  }

  --animate-scroll-x: scroll-x linear infinite;

  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(var(--scroll-x-diff));
    }

    100% {
      transform: translateX(0);
    }
  }
}

@theme inline {
  --color-text: var(--color-text);
  --color-background: var(--color-background);

  --color-items: var(--color-items);
  --color-items-hovered: var(--color-items-hovered);

  --color-folders: var(--color-folders);
  --color-folders-hovered: var(--color-folders-hovered);

  --color-dark: var(--color-dark);

  --color-details-1: var(--color-details-1);
  --color-details-10: var(--color-details-10);
  --color-details-50: var(--color-details-50);
  --color-details-75: var(--color-details-75);
  --color-details-100: var(--color-details-100);
  --color-details-200: var(--color-details-200);
  --color-details-300: var(--color-details-300);
  --color-details-400: var(--color-details-400);
  --color-details-500: var(--color-details-500);
  --color-details-600: var(--color-details-600);
  --color-details-700: var(--color-details-700);
  --color-details-800: var(--color-details-800);
  --color-details-900: var(--color-details-900);
  --color-details-999: var(--color-details-999);
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    color-scheme: dark light;

    --vw: 100dvw;
    --container-padding: calc((var(--vw) - min(80rem, calc(var(--vw) * 11 / 12))) / 2);

    --tone-10: 92%;
    --tone-50: 88%;
    --tone-75: 80%;
    --tone-100: 72%;
    --tone-200: 56%;
    --tone-300: 40%;
    --tone-400: 24%;
    --shade-600: 85%;
    --shade-700: 70%;
    --shade-800: 55%;
    --shade-900: 35%;
    --shade-999: 20%;
  }

  * {
    @apply focus:on-focus;
  }

  body {
    font-family:
      -apple-system,
      /* macOS и iOS */
      BlinkMacSystemFont,
      /* Chrome на macOS */
      "Segoe UI",
      /* Windows */
      Roboto,
      /* Android, Chrome OS */
      "Helvetica Neue",
      /* macOS */
      Arial,
      /* Фолбек */
      sans-serif;

    @apply overflow-y-auto has-[dialog[open]]:overflow-hidden h-dvh overflow-x-hidden text-text bg-background;

    --theme-base: white;

    --color-text: var(--color-text-black);
    --color-background: white;

    --color-items: color-mix(in oklch, var(--theme-base) 90%, var(--color-details-500));
    --color-items-hovered: color-mix(in oklch, var(--theme-base) 80%, var(--color-details-400));

    --color-folders: color-mix(in oklch, var(--theme-base) 50%, var(--color-details-500));
    --color-folders-hovered: color-mix(in oklch, var(--theme-base) 60%, var(--color-details-400));

    --color-dark: var(--color-details-700);

    @media (prefers-color-scheme: dark) {
      --theme-base: #101010;

      --color-text: white;
      --color-background: color-mix(in oklch, var(--theme-base) 75%, var(--color-details-900));

      --color-items: color-mix(in oklch, var(--theme-base) 85%, var(--color-details-500));
      --color-items-hovered: color-mix(in oklch, var(--theme-base) 90%, var(--color-details-600));

      --color-folders: color-mix(in oklch, var(--theme-base) 50%, var(--color-details-500));
      --color-folders-hovered: color-mix(in oklch, var(--theme-base) 55%, var(--color-details-600));

      --color-dark: var(--color-details-700);
    }
  }

  #app {
    @apply flex flex-col bg-background min-h-full;
  }

  button {
    cursor: pointer;
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
  }

  li {
    @apply list-none;
  }


  hr {
    @apply m-0 border-none bg-dark min-h-px min-w-px;
    margin: 0;
  }

  a {
    /* @apply text-inherit; */
    @apply hover:text-details-500;
  }

  p {
    display: block;
  }

  ._theme-color {
    --color-details-10: color-mix(in oklch, white var(--tone-10), var(--accent));
    --color-details-50: color-mix(in oklch, white var(--tone-50), var(--accent));
    --color-details-75: color-mix(in oklch, white var(--tone-75), var(--accent));
    --color-details-100: color-mix(in oklch, white var(--tone-100), var(--accent));
    --color-details-200: color-mix(in oklch, white var(--tone-200), var(--accent));
    --color-details-300: color-mix(in oklch, white var(--tone-300), var(--accent));
    --color-details-400: color-mix(in oklch, white var(--tone-400), var(--accent));
    --color-details-500: var(--accent);
    --color-details-600: color-mix(in oklch, var(--accent) var(--shade-600), black);
    --color-details-700: color-mix(in oklch, var(--accent) var(--shade-700), black);
    --color-details-800: color-mix(in oklch, var(--accent) var(--shade-800), black);
    --color-details-900: color-mix(in oklch, var(--accent) var(--shade-900), black);
    --color-details-999: color-mix(in oklch, var(--accent) var(--shade-999), black);
  }
}

@utility on-focus {
  @apply outline-dark outline-2 outline-offset-1;
}

@custom-variant hover-none (@media (hover: none));

@layer components {
  .layout-container {
    @apply px-(--container-padding);
  }

  .icon {
    @apply size-6;

    &.icon_size_sm {
      @apply size-4;
    }

    &.icon_size_lg {
      @apply size-8;
    }
  }


  .button {
    all: unset;
    @apply bg-items border border-dark border-solid rounded-sm p-1 text-center cursor-pointer select-none flex justify-center relative items-center hover:bg-items-hovered;
    @apply disabled:pointer-events-none disabled:bg-dark disabled:opacity-25 disabled:text-items;
    @apply active:text-details-500 active:border-details-500;
    @apply focus:on-focus;
  }

  .text-input-base {
    @apply min-w-[272px] has-[input:read-only]:cursor-pointer has-[input:disabled]:pointer-events-none min-h-8 flex items-center gap-2 bg-background border border-current rounded-sm px-3 text-xs cursor-text justify-between box-border focus-within:on-focus;

    input {
      all: unset;
      @apply text-black flex-1 min-w-0;
    }
  }

  .checkbox {
    @apply inline-flex items-center gap-2 cursor-pointer has-[input:disabled]:pointer-events-none text-dark has-[input:disabled]:text-dark has-[input:checked]:has-[input:disabled]:text-dark hover:text-details-200 has-[input:checked]:text-details-200;

    &.checkbox_size_sm {
      .icon {
        @apply size-4;
      }
    }

    &.checkbox_size_xs {
      .icon {
        @apply size-3;
      }
    }
  }

  .input {
    @apply flex justify-center items-center p-4 border border-dark rounded-lg bg-items;
    @apply focus:on-focus;
    @apply hover:bg-items-hovered;

    .icon {
      @apply size-8;
    }
  }

  .vr {
    @apply self-stretch inline-block w-px bg-dark;
  }

  .element-title {
    @apply text-xs text-dark;
  }

  .html {
    a {
      @apply underline;
    }
  }

  .explorer-element {
    @apply bg-items border-2 border-dark rounded-lg w-full cursor-pointer;
    @apply hover:bg-items-hovered hover:border-details-500;
    @apply focus-visible:on-focus focus-visible:no-underline;

    .explorer-element__title {
      @apply w-2/3 overflow-x-auto overflow-y-hidden m-2
    }

    &.explorer-element_folder {
      @apply bg-folders;
      @apply hover:bg-folders-hovered;
    }
  }

  .dialog {
    @apply fixed inset-0 m-auto p-0 z-modal rounded-lg border border-details-500 max-w-11/12 max-h-11/12 w-fit overflow-hidden;

    .dialog__content {
      scrollbar-gutter: stable_both-edges;
      @apply p-4 flex flex-col w-full bg-background;
    }

    .dialog__backdrop {
      @apply fixed inset-0 bg-dark opacity-40 -z-1;
    }
  }
}