@import 'tailwindcss';

@theme {
  --*: initial;
  --z-player: 1000;
  --z-index-modal: 10000;
  --z-index-explorer-navbar: 10;

  --color-black: #000;
  --color-white: #fff;

  --color-neutral-50: oklch(98.5% 0 0);
  --color-neutral-100: oklch(97% 0 0);
  --color-neutral-200: oklch(92.2% 0 0);
  --color-neutral-300: oklch(87% 0 0);
  --color-neutral-400: oklch(70.8% 0 0);
  --color-neutral-500: oklch(55.6% 0 0);
  --color-neutral-600: oklch(43.9% 0 0);
  --color-neutral-700: oklch(37.1% 0 0);
  --color-neutral-800: oklch(26.9% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --color-neutral-950: oklch(14.5% 0 0);

  --spacing: 0.25rem;

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --animate-runner: runner 1s linear infinite;

  @keyframes runner {
    0% {
      left: calc(-1 * (1/6) * 100%);
    }

    100% {
      left: 100%;
    }
  }

  --animate-loading: loading 2s linear infinite;

  @keyframes loading {
    0% {
      content: '.';
    }

    33% {
      content: '..';
    }

    67% {
      content: '...';
    }
  }

  --animate-scroll-x: scroll-x linear infinite;

  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(var(--scroll-x-diff));
    }

    100% {
      transform: translateX(0);
    }
  }
}

@theme inline {
  --color-background: var(--color-background);
  --color-text: var(--color-text);

  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(currentColor);
  }

  * {
    @apply focus:on-focus;
  }

  body {
    font-family:
      -apple-system,
      /* macOS и iOS */
      BlinkMacSystemFont,
      /* Chrome на macOS */
      "Segoe UI",
      /* Windows */
      Roboto,
      /* Android, Chrome OS */
      "Helvetica Neue",
      /* macOS */
      Arial,
      /* Фолбек */
      sans-serif;

    --color-background: var(--color-neutral-50);
    --color-text: var(--color-neutral-950);

    @media (prefers-color-scheme: dark) {
      --color-background: var(--color-neutral-900);
      --color-text: var(--color-neutral-50);
    }

    @apply has-[dialog[open]]:overflow-hidden bg-background text-text;
  }

  :root {
    color-scheme: dark light;

    --vw: 100dvw;
    --container-padding: calc((var(--vw) - min(80rem, calc(var(--vw) * 11 / 12))) / 2);
  }

  #app {
    @apply contents;
  }

  button {
    @apply cursor-pointer;
  }
}


@utility on-focus {
  @apply outline-text outline-2 outline-offset-1;
}

@custom-variant hover-none (@media (hover: none));

@layer components {
  .layout-container {
    @apply px-(--container-padding);
  }

  .icon {
    @apply size-[1em];
  }


  .button {
    @apply bg-primary-500 text-white border border-solid border-primary-700 dark:text-black rounded-sm p-1 text-center cursor-pointer select-none flex justify-center relative items-center hover:bg-primary-600;
    @apply disabled:pointer-events-none disabled:opacity-50;
  }

  .custom-html {
    @apply whitespace-break-spaces wrap-break-word;

    a {
      @apply underline;
    }
  }

  .explorer-element {
    @apply bg-primary-50 hover:bg-primary-100 dark:bg-neutral-700 dark:hover:bg-neutral-800 border border-primary-500 rounded-lg text-sm;

    .explorer-element__title {
      @apply w-2/3 overflow-x-auto overflow-y-hidden text-lg;
    }

    &.explorer-element_folder {
      @apply bg-primary-500 border-primary-700 text-white dark:text-black;
      @apply hover:bg-primary-600;
    }
  }

  .post {
    @apply border rounded-lg bg-primary-50 hover:bg-primary-100 dark:bg-neutral-700 dark:hover:bg-neutral-800 border-primary-500;
  }

  .dialog {
    @apply fixed inset-0 m-auto p-0 z-modal rounded-lg border border-primary-500 max-w-11/12 max-h-11/12 w-fit overflow-hidden;

    .dialog__content {
      scrollbar-gutter: stable_both-edges;
      @apply p-4 flex flex-col w-full bg-background;
    }

    .dialog__backdrop {
      @apply fixed inset-0 bg-primary-900 opacity-50 -z-1;
    }
  }
}